.contact {
  background-color: black;
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0;
}
.formContactContainer {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  position: relative;
  width: 100%;
  font-family: 'Poppins';
  height: fit-content;
}
.formContactContainerHalf {
  color: white;
  position: static;
  display: grid;
  height: auto;
  width: 100%;
  grid-template-rows: 1fr;
  grid-template-columns: 100%;
}
.formContactContainerHalf p {
  position: relative;
  margin: 75px 0px 10px calc((100% - 490px) * 0.5);
  left: 18px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
  width: 469px;
}
.formContainerGrid {
  position: relative;
  margin: 59px 0px 43px calc((100% - 980px) * 0.5);
  left: 204px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
.formContainer {
  display: flex;
  font-family: 'Poppins';
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  font-weight: 10px;
  margin-right: 50px;
  margin-bottom: 50px;
}
.formDetails {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  width: fit-content;
  color: white;
  gap: 60px;
}
.formDetails input {
  background: transparent;
  border: none;
  border-bottom: 0.15em solid white;
  color: white;
  height: 40.4px;
  width: 180px;
  padding: 3px;
  padding-left: 22px;
  margin-top: 5px;
}
.formDetails input:hover {
  outline: 2.3px solid white;
  border-bottom: 0.15em solid transparent;
}
.formDetails input:focus {
  outline: 2.3px solid white;
  border-bottom: 0.15em solid transparent;
}
.formButtonContainer {
  margin-top: -30px;
  width: 100%;
  display: flex;
  justify-content: right;
}
.formButtonContainer button {
  border-radius: 0;
  background-color: transparent;
  color: white;
  border-color: white;
  transition: background-color 0.3s ease-in-out;
  width: 150px;
  height: 42px;
  cursor: pointer;
}
.formButtonContainer button:hover {
  background-color: white;
  color: black;
}
.detailRow {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.specificDetail {
  display: flex;
  flex-direction: column;
}
.feedbackRow {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.feedbackRow textarea {
  background: transparent;
  border: none;
  border-bottom: 2px solid white;
  color: white;
  height: 92.9px;
  width: 401px;
  padding-top: 10.5px;
  padding-left: 22px;
  padding-bottom: 3px;
  padding-right: 10px;
}
.feedbackRow textarea:hover {
  outline: 2.3px solid white;
  border-bottom: 0.15em solid transparent;
}
.feedbackRow textarea:focus {
  border-bottom: 0.15em solid transparent;
  outline: 2.3px solid white;
}
