.tobo {
  background-image: url('./Images/toboBackground.png');
  width: 100vw;
  height: fit-content;
  position: relative;
  margin: 0;
  padding: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border: 0;
  outline: 0;
}
.tobo p {
  width: 690px;
  text-align: center;
  font-size: 13px;
  color: white;
  font-family: 'Poppins';
  text-justify: inter-word;
  overflow-wrap: break-word;
  line-height: 1.8em;
}
.textContainer {
  position: static;
  display: grid;
  height: auto;
  width: 100%;
  min-height: auto;
  grid-template-rows: 1fr;
  grid-template-columns: 100%;
  height: 596px;
}
.textContainer div {
  position: relative;
  margin: 122px 0px 61px calc((100% - 980px) * 0.5);
  left: 158px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
