.header {
  position: static;
  display: grid;
  min-height: 229px;
  width: 100%;
  /* min-height: auto; */
  grid-template-rows: 1fr;
  grid-template-columns: 100%;
}
.headerContainer {
  height: 170px;
  font-family: 'Poppins';
  color: white;
  display: flex;
  width: 100%;
}
.headerUmami {
  margin-left: 135px;
  text-align: left;
  display: flex;
  align-items: center;
}
.headerUmami img {
  margin-top: 7px;
}
.headerMenuContainer {
  margin-right: 80px;
  width: 100%;
  display: flex;
  justify-content: right;
  align-items: center;
}
.headerMenu {
  display: flex;
  justify-content: right;
  color: #ffffff;
  letter-spacing: 1px;
  font-weight: normal;
  font-size: 13px;
  letter-spacing: 0.2em;
}
.headerMenu ul {
  list-style: none;
  display: flex;
  gap: 5rem;
}
.headerMenu li {
  cursor: pointer;
}
.headerMenu a {
  text-decoration: none;
  color: inherit;
}
.headerMenu li:hover,
a:hover {
  color: #88867f;
}
.headerMenu a.active {
  color: #88867f;
}
