.loft {
  background-image: url('./Images/loftBackground.png');
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-size: cover;
  background-repeat: no-repeat;
  border: 0;
  outline: 0;
  position: fixed;
}
.textInstaContainer {
  display: flex;
  align-items: center;
  width: 100%;
  flex-direction: column;
  height: 100%;
}
.textContainer p {
  width: 663px;
  font-family: 'Poppins';
  letter-spacing: normal;
  font-size: 13px;
  background: transparent;
  color: #dbdbdb;
  line-height: 1.8em;
  text-align: center;
}
.loftInstaTik {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.insta {
  width: 20px;
  height: 20px;
  object-fit: cover;
  vertical-align: baseline;
}
.tiktok {
  width: 15px;
  height: 15px;
  margin-bottom: -3px;
}
.footer {
  position: absolute;
  bottom: 30px;
  left: 30px;
  font-size: 10px;
  font-family: 'Avenir';
  letter-spacing: normal;
  color: white;
}
